.chartcontainer {
    margin-top: 5rem;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    display: grid;
    gap: 1rem;
  }
@media (min-width: 768px) {
    .md\:mt-6 {
        margin-top: 1.5rem/* 24px */;
    }
}

@media (min-width: 768px) {
    .md\:gap-6 {
        gap: 1.5rem/* 24px */;
    }
}

@media (min-width: 1536px) {
    .\32xl\:mt-7 {
        margin-top: 1.75rem/* 28px */;
    }
}

@media (min-width: 1536px) {
    .\32xl\:gap-7 {
        gap: 1.75rem/* 28px */;
    }
}
  
  .cols-span-12 {
    grid-column: span 12 / span 12;
  }

.search_title {
    font-weight: 700;
    font-size: 3em;
  }