.outer_container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.inner_container {
  flex: auto;
  /* margin: 0 -20px 20px -20px; */
  margin: 0 -40px;

  border-top: 1px dashed #e7decd;
  /* background-color: var(--primary-beige); */
  /* border-radius: 25px; */

  display: flex;
  overflow: hidden;
}

/* ANCHOR LEFT CONTAINER */
.left_container {
  width: 300px;
  /* padding: 10px 0px; */

  /* background-color: #e7decd; */
  border-right: 1px dashed #e7decd;
  /* box-shadow: 4px 0px 10px 2px #2e2f3032; */

  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  z-index: 999;
}

.upper_left_container {
  flex: 1;
  padding: 15px;

  /* background-color: #5f3627; */
  border-radius: 25px 25px 0 0;

  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.new_group_btn {
  flex: auto;
  height: 100%;

  border: 1px solid var(--primary-dark-gray);
  border-radius: 15px;

  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;

  font-size: 15px;
  font-weight: 300;

  transition: 275ms;
}

.new_group_btn:hover {
  background-color: var(--primary-dark-gray);
  color: var(--primary-light-gray);
}

.hide_nav_btn {
  flex: auto;
  height: 100%;
  border: 1px solid var(--primary-dark-gray);
  border-radius: 15px;

  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;

  font-size: 24px;
  font-weight: 300;
}

.hide_nav_btn:hover {
  background-color: var(--primary-dark-gray);
  color: var(--primary-light-gray);
}

/* ANCHOR GROUP LIST CONTAINER */
.group_list_container {
  flex: 14;
  /* padding: 0 15px; */

  display: flex;
  flex-direction: column;
  /* gap: 10px; */
  overflow: scroll;
}

/* .result_list_container:hover {
  filter: brightness(0.8);
} */

.bottom_left_container {
  margin-top: 20px;
}

/* ANCHOR RESULT CARD */
.card_container {
  position: relative;
  padding: 20px 25px;

  /* background-color: var(--bg-approved-1); */
  /* border-radius: 15px; */

  display: flex;
  justify-content: space-between;
  align-items: center;

  transition: 0.275s ease-out;
}

.card_left {
  display: flex;
  gap: 15px;
}

.card_container:hover {
  background-color: var(--primary-golden);
}

.card_container:hover .card_img,
.card_container:hover p {
  color: var(--primary-light-gray);
}

.card_img {
  display: flex;
  align-items: center;
}

.card_title {
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;

  display: -webkit-box;
}

.card_container > p {
  display: -webkit-box;

  font-size: 16px;
  font-weight: 400;
  text-align: left;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.card_active {
  background-color: var(--primary-golden);
}

.card_active .card_img,
.card_active p {
  color: white;
}

.card_right {
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 15px;
  color: white;
}

.card_btn {
  color: white;
}
