@import url("globals.css");

nav {
  /* backdrop-filter: blur(40px); */
  flex-shrink: 0;
  background-color: white;
  z-index: 1000;
  overflow: hidden;
  position: sticky;
  top: 0;
  margin: 0 -40px;
  padding: 25px 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  /* background-image: linear-gradient(
    to right,
    rgb(var(--color-dotteds-rgb)) 0 10%,
    rgba(255, 255, 255, 0) 10%
  );
  background-position: bottom;
  background-size: 8px 1px;
  background-repeat: repeat-x; */
}

.nav__left {
  position: absolute;
  left: 0;
  margin-left: 80px;
  align-items: center;
}

.nav__logo {
  height: 30px;
  width: auto;
}

.nav__middle {
  display: flex;
  justify-content: center;
  align-items: center;

  /* padding: 20px; */
  gap: 30px;
}

.nav__middle > li {
  list-style-type: none;
}

.nav__left > ul {
  display: flex;
}

.nav__left > ul > li {
  font-size: 14px;
  font-weight: 600;
  list-style-type: none;
  margin-left: 10px;
}

/* ANCHOR NAV RIGHT */

.nav__right {
  position: absolute;
  right: 0;
  margin-right: 80px;
}

.nav__right > ul {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav__right > ul > li {
  list-style-type: none;
}

/* ANCHOR NAV LINK */

.nav__link {
  color: var(--nav-inactive);
  font-size: 14px;
  font-weight: 300;
  transition: 0.2s;
}

.nav__link:hover {
  padding: 12px 15px;

  /* border: 1px solid var(--primary-black); */
  background-color: var(--primary-beige);
  border-radius: 15px;

  font-weight: 500;
  color: var(--primary-black);
}

.nav__link-active {
  padding: 12px 15px;

  /* border: 1px solid var(--primary-black); */
  background-color: var(--primary-beige);
  border-radius: 15px;

  font-weight: 500;
  color: var(--primary-black);
}

/* Footer Section */
.footer {
  position: sticky;
  top: 100%;
  color: white;
  padding: 60px 0 20px 0;

  background-image: linear-gradient(
    to right,
    rgb(var(--color-dotteds-rgb)) 0 10%,
    rgba(255, 255, 255, 0) 10%
  );
  background-position: top;
  background-size: 8px 1px;
  background-repeat: repeat-x;
}

.footer__top {
  display: flex;
  margin-bottom: 50px;
}

.footer__left {
  display: flex;
  flex-direction: column;
  width: 40vw;
  gap: 30px;
}

.footer__description {
  font-weight: 300;
  font-size: 16px;
}

.footer__right {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: end;
}

.footer__right-link-div {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 10px;
}

.footer__link {
  color: var(--primary-black);
  font-weight: 600;
}

.footer__heading {
  font-size: 14px;
  font-weight: 700;
}

.footer__about-button {
  padding: 18px 16px;
  border-radius: 12px;
  margin-right: auto;

  background-color: var(--primary-gray);

  font-size: 14px;
  font-weight: 300;
  color: var(--primary-black);

  transition: 0.2s;
}

.footer__about-button:hover {
  filter: brightness(90%);
}

.footer__bottom {
  margin-left: auto;
  width: fit-content;
  font-size: 14px;
  font-weight: 300;
}

.footer__bottom p {
  font-weight: 400;
  font-size: 14px;
}
